    

body{
    
    min-height: 100vh;
    background-color: #95acf6;
    font-size-adjust: none;
    margin:  38%;
    margin-top: 10%;
    margin-right: 10%;
}
.login-box{
    position: relative;
    width: 400px ;
    height: 410px;
    background: #fcfbfb;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.input-box{
    width: 310px;
    margin: 30px 0;
    border-bottom: #eaeaea;
}
.input-box.icon{
    color: rgb(239, 12, 12);
    width: 50px;
    height: 50px;
}


